page-user-login {
  .logInHead {

  }

  .loginWrapStyle {
    background: slategray;
    border-style: solid;
    border-width: 2px;
    border-color: gold;
  }

  .logInBtn {
    margin-top: 20px;
  }

}
