<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>Civic'D</ion-title>
    <ion-buttons right>
      <app-user-nav-menu></app-user-nav-menu>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid (swiperight)="swipeRightEvent($event)">
    <ion-row>
      <ion-col>
        <h1 class="titleStyle">Interests</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>
        <div *ngFor="let tags of firstColArr"><ion-badge [ngClass]="{'clickedClass': isActive(tags) }" (click)="selectTag(tags)" class="tagStyle">#{{tags}}</ion-badge></div>
      </ion-col>
      <ion-col col-4>
        <div *ngFor="let tags of secondColArr"><ion-badge [ngClass]="{'clickedClass': isActive(tags) }" (click)="selectTag(tags)" class="tagStyle">#{{tags}}</ion-badge></div>
      </ion-col>
      <ion-col col-4>
        <div *ngFor="let tags of thirdColArr"><ion-badge [ngClass]="{'clickedClass': isActive(tags) }" (click)="selectTag(tags)" class="tagStyle">#{{tags}}</ion-badge></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="skipDiv" text-center *ngIf="selectedInterestArr.length == 0">
          <h6>Click Tags Above to Add Your Interests</h6>
          <button [navPush]="aboutPage"class="skipBtn" ion-button color="danger">Skip</button>
        </div>
        <div class="skipDiv" text-center *ngIf="selectedInterestArr.length > 0">
          <div class="card">
            <h6>You've Added:</h6>
            <div *ngFor="let tags of selectedInterestArr; let i = index"><ion-badge [ngClass]="{'badgeMargin': checkIndex(i) }" color="neon" (click)="selectTag(tags)" class="selectedTag">#{{tags}}</ion-badge></div>
          </div>
          <div text-center class="swipeHeader swipeColor"><strong>(Swipe Right To Continue)</strong></div>
          <div text-center class="iconStyle swipeColor"><ion-icon name="md-arrow-round-forward"></ion-icon></div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
