
<ion-header>
  <app-user-nav-menu></app-user-nav-menu>
</ion-header>

<ion-content padding>
  <ion-grid (swiperight)="swipeRightEvent($event, f)">
      <h1>About</h1>
      <form #f="ngForm" class="formStyle" padding>
        <h5><strong>Name*</strong></h5>
        <ion-input class="inputStyle" id="userName" type="text" name="userName" [(ngModel)]="name" required #userName="ngModel"></ion-input>
        <div *ngIf="!userName.valid && userName.touched">
          <p class="error">
            Name is required
          </p>
        </div>
        <h6><strong>Tell other members about yourself...</strong></h6>
        <ion-textarea class="inputStyle" type="text" name="userAbout" [(ngModel)]="userAbout" id="userAbout" rows="7"></ion-textarea>
      </form>
      <div class="swipeDiv" text-center *ngIf="f.valid">
        <h6><strong>(Swipe Right)</strong></h6>
        <div class="iconStyle"><ion-icon name="md-arrow-round-forward"></ion-icon></div>
      </div>
  </ion-grid>
</ion-content>
